<div class="container footerWrapper ">
  <!--
  <nav class="navbar navbar-expand-sm ">
    <a class="navbar-brand" href="#">Black and White</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
      <span class="glyphicon-menu-hamburger">Expand</span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropup">
          <a class="nav-link dropdown-toggle" href="https://getbootstrap.com" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Column 1</a>
          <div class="dropdown-menu" aria-labelledby="dropdown10">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

        <li class="nav-item dropup">
          <a class="nav-link dropdown-toggle" href="https://getbootstrap.com" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Column 2</a>
          <div class="dropdown-menu" aria-labelledby="dropdown10">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

        <li class="nav-item dropup">
          <a class="nav-link dropdown-toggle" href="https://getbootstrap.com" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Column 3</a>
          <div class="dropdown-menu" aria-labelledby="dropdown10">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>


      </ul>
    </div>


  </nav>
-->
<div class="footer-container container">
  <div class="row nav-footer">
    <nav class="navbar navbar-expand-md footerNav">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNav" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">+</span><a class="navbar-brand-1" href="#">Black and White</a>
      </button>

      <div class="collapse navbar-collapse" id="footerNav">

        <ul class="navbar-nav mr-auto">

          <li class="nav-item ">
            <a class="nav-link" href="#">
              Column 1 <span class="sr-only">(current)</span>
            </a>

            <div>
              <a class="dropdown-item" href="#">Sub-Column 1</a>
              <a class="dropdown-item" href="#">Sub-Column 2</a>
              <a class="dropdown-item" href="#">Sub-Column 3</a>
              <a class="dropdown-item" href="#">Sub-Column 4</a>
            </div>

          </li>

          <li class="nav-item ">
            <a class="nav-link" href="#">Column 2<span class="sr-only">(current)</span></a>

            <div>
              <a class="dropdown-item" href="#">Sub-Column 1</a>
              <a class="dropdown-item" href="#">Sub-Column 2</a>
              <a class="dropdown-item" href="#">Sub-Column 3</a>
              <a class="dropdown-item" href="#">Sub-Column 4</a>
            </div>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="#">Column 3<span class="sr-only">(current)</span></a>

            <div>
              <a class="dropdown-item" href="#">Sub-Column 1</a>
              <a class="dropdown-item" href="#">Sub-Column 2</a>
              <a class="dropdown-item" href="#">Sub-Column 3</a>
              <a class="dropdown-item" href="#">Sub-Column 4</a>
            </div>
          </li>

        </ul>
      </div>


    </nav>
  </div>
  <div class="row companyInfo" >
      <div class="footerImage"></div>
      <div class="informationText">
        <p>Company Name</p>
        <p>Company Contact Information</p>
        <p>Company Social Media</p>
      </div>
  </div>
</div>
</div>
