
.footerWrapper{
  background-color: black;
  max-width: inherit;
  width: 100%;

  .footer-container{
    //max-width: inherit;
    padding: 0;

    .nav-footer{
      .footerNav{
        button{
          span{color:#fff;}
        }
        ul{
          li{
            a{
              color: white;
              &:hover{background-color: purple;}
            }
          }
        }
      }
    }


    .companyInfo{
      //background-color: purple;
      padding-top: 2rem;
      //margin: 0 auto;
      .footerImage{
        border-radius: 4rem;
        background-color: white;
        height: 100px;
        margin: 0 auto;
        width: 100px;
      }
      .informationText{
        //margin: 0 auto;
        color:#fff;
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        text-align: center;
        width: 100%;
      }
    }
  }

}
@media only screen and (min-width:768px){
  .footerWrapper{display: flex;}
  .footer-container{
    background-color: black;
    max-width: 1320px;
    padding-left: 0;
    padding-right: 0;
  }
    .nav-footer{
      //background-color: red;
      //margin: 0 auto;
      float:left;
      width:50%;
      margin: 0;

      nav{
        color:white;
        //width: 50%;
        }
        .nav-item{

          a{color:white;}

            div{
              a{color:white;}
            }

          }
    }
    .companyInfo{
      //background-color: purple;
      color:white;
      height:100%;
      //margin: 0 auto;
      //max-width: 400px;
      padding-top: 3rem;
      width: 50%;
      .footerImage{
        //margin-right: 2rem; margin-left: 9rem;
        margin: 0 auto;
      }
      .informationText{
        margin: 0 auto;
        text-align: center;
      }
    }

}
