.mainContentWrapper{
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  max-width: 1320px;

  .contentBox{
      border: 1px solid black;
      flex-wrap: wrap;
      height: 20rem;
      position: relative;
      width: 100%;

      p{
        bottom: 0;
        background-color: #000;
        height: 4rem;
        margin: auto;
        position: absolute;
        width: 100%;
      }
  }

  .textBox{
    border:1px solid Black;
    margin: 0 auto;
    padding-left: 4.2rem;
    padding-right: 3rem;
    position: relative;
    width: 100%;
  }

}

@media only screen and (min-width:768px){

  .mainContentWrapper{
    padding-top: 5rem;
    padding-bottom: 5rem;


    .contentBox{
        height: 20rem;
        margin: 0 auto;
        text-align: center;
        width: 20rem;

        p{
          color:#fff;
        }
    }

    .textBox{
      margin-top: 5rem;
      width: 90%;
    }

  }
}
