<div class="row mainContentWrapper">
  <div class="first contentBox">
    <p>Aliqua quis ea proident nostrud amet minim minim ut quis in dolor velit nulla est est velit </p>
  </div>
  <div class="second contentBox">
    <p>Aliqua quis ea proident nostrud amet minim minim ut quis in dolor velit nulla est est velit </p>
  </div>
  <div class="third contentBox">
    <p>Aliqua quis ea proident nostrud amet minim minim ut quis in dolor velit nulla est est velit </p>
  </div>

  <div class="textBox">
    <p>
      Commodo cupidatat exercitation irure aliquip culpa Lorem sint elit qui cillum excepteur Lorem 
      veniam reprehenderit ullamco sunt. Occaecat eiusmod esse aute deserunt pariatur ut mollit commodo
      nostrud est. Sit non irure ad ea nisi mollit fugiat ex sint excepteur nostrud cupidatat officia.
    </p>
  </div>
</div>
