<nav class="navbar navbar-expand-md navbar-dark fixed-top">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span><a class="navbar-brand-1" href="#">{{title}}</a>
  </button>

  <div class="collapse navbar-collapse" id="mainNav">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item ">
        <a class="nav-link" href="#">Link 1 <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="#">Link 2 <span class="sr-only">(current)</span></a>
      </li>

      <a class="navbar-brand" href="#">{{title}}</a>

      <li class="nav-item ">
        <a class="nav-link" href="#">Link 3 <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="#">Link 4 <span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>


</nav>
