
.navbar{
  background-color: black;

  button{
    border-color: #000;
    width: 100%;
    &:focus{outline:none;}
    a{color: white;}
    span{
      float: left;
    }
  }
  #mainNav{
    ul{
      li{
        border-bottom: 1px solid grey;
        outline: 0px solid red;
        line-height: 5rem;
        font-size: 3rem;

        &:hover{background-color: white; color:black;}
        &:hover a{ color:black;}
      }
    }
  }

  .navbar-brand{display: none;}
}

@media screen and (max-width: 992px)  and (min-width: 768px) {
.navbar{
    #mainNav{

      ul{
        li{
          font-size: 1.1rem !important;
        }
      }
    }
  }
}
@media only screen and (min-width:768px){

  .navbar{
    background-color: #fff;
    border-bottom: 5px solid black;
    line-height: 4rem;

    #mainNav{
      //border: 1px solid black;
      font-size: 1.5rem;
      max-width: 1320px;
      margin: 0 auto;

      ul{
        margin: 0 auto;

        li{
          border-bottom: 0;
          font-size: 2rem;
          padding-left: 3rem;
          padding-right: 3rem;

          a{
          //Important Used to Override bootstrap
            color:#00000075 !important;
            border-bottom: 1px solid #00000075;
            padding: 0;

            &:hover{
              color:#000 !important;
              border-bottom: 1px solid black;
            }
          }
        }

        .navbar-brand{
          color:#000 !important;
          display: block;
          margin-right: auto;
        }
      }
    }
  }

}
