<div class="galleryWrapper">
  <div class="row">
    <div  class="galleryItem one col col-sm"  >
     <span class="galleryCaption">
        <p>Nisi labore Lorem fugiat labore officia fugiat nulla sunt dolore consectetur aliquip nostrud ipsum.</p>
      </span>
    </div>

    <div class="galleryItem two col col-sm">
      <span class="galleryCaption">
        <p>Consectetur occaecat aute aute in ea consequat commodo ea ad.</p>
      </span>
    </div>

    <div ng class="galleryItem three col col-sm">
      <span class="galleryCaption">
        <p>Elit nisi eiusmod pariatur Lorem nulla do cupidatat adipisicing eiusmod eiusmod anim sit amet.</p>
      </span>
    </div>

  </div>

  <div class="row">

    <div class="galleryItem four col col-sm">
      <span class="galleryCaption">
        <p>Nostrud ex consequat et ea non aliqua eu incididunt adipisicing anim eiusmod.</p>
      </span>
    </div>

    <div class="galleryItem five col col-sm">
      <span class="galleryCaption">
        <p>Elit officia sunt velit dolore excepteur magna veniam excepteur magna ut excepteur quis magna.</p>
      </span>
    </div>

    <div class="galleryItem six col col-sm">
      <span class="galleryCaption">
        <p>Ullamco qui minim non aliquip elit culpa voluptate amet culpa ut Lorem ipsum eu.</p>
      </span>
    </div>
  </div>

</div>
