
<div class="sliderWrapper">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">

            <div class="carousel-item first-slide active">
              <!-- <img class="slide" src="../assets/img/carousel_placeholder.png" alt="First slide">-->
              <div class="container">
                <div class="carousel-caption text-right">
                  <h1>Pariatur Do Consectetur.</h1>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
            </div>

            <div class="carousel-item second-slide ">
              <div class="container">
                <div class="carousel-caption text-left">
                  <h1>Duis culpa nulla nisi velit</h1>
                  <p>Sit amet id commodo adipisicing irure aliqua ipsum deserunt ea exercitation duis amet velit enim adipisicing irure. Aute culpa excepteur ad qui est enim laboris enim commodo fugiat sit non proident quis. Eu eiusmod exercitation irure culpa cupidatat aliquip proident ex id enim amet quis dolore velit consequat quis.</p>
                </div>
              </div>
            </div>

            <div class="carousel-item third-slide ">
              <div class="container">
                <div class="carousel-caption text-left">
                  <h1>Enim labore quis id </h1>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
</div>
